{% set fluentd_dir = 'td-agent' if kolla_base_distro in ['ubuntu', 'debian'] else 'fluentd' %}
<source>
  @type tail
  path /var/log/kolla/mariadb/mariadb.log
  pos_file /var/run/{{ fluentd_dir }}/mariadb.pos
  tag infra.mariadb
  format multiline
  format_firstline /^\d{6}/
  format1 /^(?<time>\d{6} \d{1,2}:\d{1,2}:\d{1,2}) (\[(?<log_level>\S+)\]|mysqld_safe) (?<Payload>.*)/
  time_format %y%m%d %k:%M:%S
  enable_watch_timer false
</source>
