<source>
  @type tail
  path /var/log/kolla/rabbitmq/rabbit.log
  pos_file /var/run/td-agent/rabbit.pos
  tag rabbit.*
  format multiline
  format_firstline /^=/
  format1 /^.*\n/
  format2 /^(?<Payload>.*)\n/
</source>
