{% set fluentd_dir = 'td-agent' if kolla_base_distro in ['ubuntu', 'debian'] else 'fluentd' %}
<source>
  @type tail
  path /var/log/kolla/rabbitmq/rabbit.log
  pos_file /var/run/{{ fluentd_dir }}/rabbit.pos
  tag infra.rabbit
  format multiline
  format_firstline /^\s*$/
  format1 /^=(?<log_level>\w+) REPORT==== (?<Times>[^ ]+) ===\n/
  format2 /^(?<Payload>.*)/
  enable_watch_timer false
</source>
