<source>
  @type tail
  path /var/log/kolla/rabbitmq/rabbit.log
  pos_file /var/run/td-agent/rabbit.pos
  tag rabbit.*
  format multiline
  format_firstline /^\s*$/
  format1 /^=(?<log_level>\w+) REPORT==== (?<Times>[^ ]+) ===\n/
  format2 /^(?<Payload>.*)/
</source>
