# Note (blallau): to manage Apache and WSGI log files
<source>
  @type tail
  path /var/log/kolla/*/*-access.log,/var/log/kolla/*/*-error.log,/var/log/kolla/*/*_access.log,/var/log/kolla/*/*_error.log
  pos_file /var/run/fluentd/kolla-openstack-wsgi.pos
  tag kolla.*
  enable_watch_timer {{ fluentd_enable_watch_timer }}
  <parse>
    @type regexp
    expression /^(?<Payload>.*)$/
  </parse>
</source>
