<source>
  @type prometheus
  bind "{{ api_interface_address | put_address_in_context('url') }}"
  port {{ prometheus_fluentd_integration_port }}
  metrics_path /metrics
</source>

<source>
  @type prometheus_output_monitor
  interval 10
  <labels>
    Hostname ${hostname}
  </labels>
</source>
