<source>
  @type tail
  path /var/log/kolla/openvswitch/ovn-bgp-agent.log
  pos_file /var/run/fluentd/ovn-bgp-agent.pos
  tag infra.ovn-bgp-agent
  enable_watch_timer {{ fluentd_enable_watch_timer }}
  <parse>
    @type multiline
    format_firstline /^\d{4}-\d{2}-\d{2} \d{2}:\d{2}:\d{2}.\d{3} \d+ \S+ \S+ \[.*\]/
    format1 /^(?<Timestamp>\S+ \S+) (?<Pid>\d+) (?<log_level>\S+) (?<python_module>\S+) \[-\] (?<Payload>.*)?$/
    time_key Timestamp
    keep_time_key true
    time_format "%Y-%m-%d %H:%M:%S.%L"
  </parse>
</source>
