{
    "command": "/usr/sbin/pacemakerd -f",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/authkey",
            "dest": "/etc/pacemaker/authkey",
            "owner": "hacluster:haclient",
            "perm": "0400"
        }
    ]
}
