{
    "command": "/usr/sbin/corosync -f",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/corosync.conf",
            "dest": "/etc/corosync/corosync.conf",
            "owner": "root",
            "perm": "0400"
        },
        {
            "source": "{{ container_config_directory }}/authkey",
            "dest": "/etc/corosync/authkey",
            "owner": "root",
            "perm": "0400"
        }
    ],
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/hacluster",
            "owner": "hacluster:kolla",
            "perm": "2775"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/hacluster/*.log",
            "owner": "hacluster:kolla",
            "perm": "0664"
        }
    ]
}
