{% set monasca_logstash_cmd = '/usr/share/logstash/bin/logstash --path.settings /etc/logstash/ --log.format json --path.logs /var/log/kolla/logstash/monasca-log-metrics' if monasca_logstash_use_v6 | bool else '/opt/logstash/bin/logstash --log-in-json --log /var/log/kolla/logstash/monasca-log-metrics.log' %}
{
    "command": "{{ monasca_logstash_cmd }} -f /etc/logstash/conf.d/log-metrics.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/log-metrics.conf",
            "dest": "/etc/logstash/conf.d/log-metrics.conf",
            "owner": "logstash",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/logstash",
            "owner": "logstash:kolla",
            "recurse": true
        }
    ]
}
