{
    "command": "/usr/share/logstash/bin/logstash --path.settings /etc/logstash/ --log.format json --path.logs /var/log/kolla/logstash/monasca-log-metrics -f /etc/logstash/conf.d/log-metrics.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/log-metrics.conf",
            "dest": "/etc/logstash/conf.d/log-metrics.conf",
            "owner": "logstash",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/logstash",
            "owner": "logstash:kolla",
            "recurse": true
        }
    ]
}
