{% set nova_log_dir = '/var/log/kolla/nova' %}
{% set wsgi_directory = '/var/lib/kolla/venv/bin' %}
{% if nova_enable_tls_backend | bool %}
{% if kolla_base_distro in ['centos', 'rocky']  %}
LoadModule ssl_module /usr/lib64/httpd/modules/mod_ssl.so
{% else %}
LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
{% endif %}
{% endif %}
Listen {{ api_interface_address | put_address_in_context('url') }}:{{ nova_api_listen_port }}

ServerSignature Off
ServerTokens Prod
TraceEnable off
TimeOut {{ kolla_httpd_timeout }}
KeepAliveTimeout {{ kolla_httpd_keep_alive }}

<Directory "{{ wsgi_directory }}">
    <FilesMatch "^nova-api-wsgi$">
        Options None
        Require all granted
    </FilesMatch>
</Directory>

ErrorLog "{{ nova_log_dir }}/apache-error.log"
<IfModule log_config_module>
CustomLog "{{ nova_log_dir }}/apache-access.log" common
</IfModule>

{% if nova_logging_debug | bool %}
LogLevel info
{% endif %}

<VirtualHost *:{{ nova_api_listen_port }}>
    WSGIDaemonProcess nova-api processes={{ nova_api_workers }} threads=1 user=nova group=nova display-name=nova-api
    WSGIProcessGroup nova-api
    WSGIScriptAlias / {{ wsgi_directory }}/nova-api-wsgi
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    ErrorLogFormat "%{cu}t %M"
    ErrorLog "{{ nova_log_dir }}/nova-api-error.log"
    LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
    CustomLog "{{ nova_log_dir }}/nova-api-access.log" logformat
{% if nova_enable_tls_backend | bool %}
    SSLEngine on
    SSLCertificateFile /etc/nova/certs/nova-cert.pem
    SSLCertificateKeyFile /etc/nova/certs/nova-key.pem
{% endif %}
</VirtualHost>
