{% set apache_binary = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set apache_conf_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{
    "command": "/usr/sbin/{{ apache_binary }} -DFOREGROUND",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/nova.conf",
            "dest": "/etc/nova/nova.conf",
            "owner": "nova",
            "perm": "0600"
        }{% if nova_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ nova_policy_file }}",
            "dest": "/etc/nova/{{ nova_policy_file }}",
            "owner": "nova",
            "perm": "0600"
        }{% endif %},
        {
            "source": "{{ container_config_directory }}/placement-api-wsgi.conf",
            "dest": "/etc/{{ apache_conf_dir }}/placement-api-wsgi.conf",
            "owner": "nova",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/nova",
            "owner": "nova:nova",
            "recurse": true
        }
    ]
}
