Main:
  hostname: {{ ansible_hostname }}
  forwarder_url: http://127.0.0.1:{{ monasca_agent_forwarder_port }}

Statsd:
  monasca_statsd_port : {{ monasca_agent_statsd_port }}
  non_local_traffic: True

Logging:
  log_level: {{ 'DEBUG' if monasca_logging_debug else 'INFO' }}
  statsd_log_file: /var/log/kolla/monasca/agent-statsd.log
  enable_logrotate: False
