{
    "command": "monasca-statsd --config-file /etc/monasca/agent-statsd.yml",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/agent-statsd.yml",
            "dest": "/etc/monasca/agent-statsd.yml",
            "owner": "monasca",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/monasca",
            "owner": "monasca:kolla",
            "recurse": true
        }
    ]
}
