<match kolla.var.log.kolla.*.*.log>
    @type rewrite_tag_filter
    capitalize_regex_backreference yes
    rewriterule1 programname ^(horizon-access|ceilometer-api-access|keystone-apache-admin-access|keystone-apache-public-access|cinder-api-access)$ apache_access
    rewriterule2 programname ^aodh_wsgi_access$ wsgi_access
    rewriterule3 programname ^(nova-api|nova-compute|nova-conductor|nova-consoleauth|nova-manage|nova-novncproxy|nova-scheduler|nova-placement-api|placement-api|placement-api-access|privsep-helper).* openstack_python
    rewriterule4 programname ^(sahara-api|sahara-engine).* openstack_python
    rewriterule5 programname ^(neutron-server|neutron-openvswitch-agent|neutron-ns-metadata-proxy|neutron-metadata-agent|neutron-l3-agent|neutron-dhcp-agent).* openstack_python
    rewriterule6 programname ^(magnum-conductor|magnum-api).* openstack_python
    rewriterule7 programname ^(keystone).* openstack_python
    rewriterule8 programname ^(heat-engine|heat-api|heat-api-cfn).* openstack_python
    rewriterule9 programname ^(registry|api).* openstack_python
    rewriterule10 programname ^(cloudkitty-storage-init|cloudkitty-processor|cloudkitty-dbsync|cloudkitty-api).* openstack_python
    rewriterule11 programname ^(ceilometer-polling|ceilometer-collector|ceilometer-agent-notification|loadwsgi).* openstack_python
    rewriterule12 programname ^(barbican-worker|barbican-keystone-listener|barbican-db-manage|barbican-api|app).* openstack_python
    rewriterule13 programname ^(aodh-notifier|aodh-listener|aodh-evaluator|aodh-dbsync).* openstack_python
    rewriterule14 programname ^(cinder-api|cinder-scheduler|cinder-manage|cinder-volume|cinder-backup|privsep-helper).* openstack_python
    rewriterule15 programname ^(mistral-server).* openstack_python
    rewriterule16 programname ^(designate-api|designate-central|designate-manage|designate-mdns|designate-sink|designate-worker).* openstack_python
    rewriterule17 programname ^(manila-api|manila-data|manila-manage|manila-share|manila-scheduler).* openstack_python
    rewriterule18 programname ^(trove-api|trove-conductor|trove-manage|trove-taskmanager).* openstack_python
    rewriterule19 programname ^(congress-server).* openstack_python
    rewriterule20 programname ^(murano-api|murano-engine).* openstack_python
    rewriterule21 programname ^(senlin-api|senlin-engine).* openstack_python
    rewriterule22 programname ^(watcher-api|watcher-applier|watcher-db-manage|watcher-decision-engine).* openstack_python
    rewriterule23 programname ^(freezer-api|freezer-api_access|freezer-manage).* openstack_python
    rewriterule24 programname ^(octavia-api|octavia-health-manager|octavia-housekeeping|octavia-worker).* openstack_python
</match>
