{
    "command": "/usr/sbin/ovs-vswitchd unix:/run/openvswitch/db.sock -vconsole:emer -vsyslog:err -vfile:info --mlockall --log-file=/var/log/kolla/openvswitch/ovs-vswitchd.log --pidfile",
    "config_files": [],
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/openvswitch",
            "owner": "openvswitch:kolla",
            "perm": "2775"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/openvswitch/*.log",
            "owner": "openvswitch:kolla",
            "perm": "0664"
        }
    ]
}
