printjson(rs.initiate(
  {
    "_id" : "{{ mongodb_replication_set_name }}",
    "version" : 1,
    "members" : [
      {% for host in groups["mongodb"] %}
      {
        "_id" : {{ loop.index }},
        "host" : "{{ 'api' | kolla_address(host) | put_address_in_context('url') }}:{{ mongodb_port }}"
      }{% if not loop.last %},{% endif %}
      {% endfor %}
    ]
  }
))
