
odl-cluster-data {
  akka {
    remote {
      artery {
          enabled = off
          canonical.hostname = "{{ 'api' | kolla_address }}"
          canonical.port = {{ opendaylight_clustering_port }}
        }
      netty.tcp {
        hostname = "{{ 'api' | kolla_address }}"
        port = {{ opendaylight_clustering_port }}
      }
    }

    cluster {
      seed-nodes = [{% for host in groups['opendaylight'] %}"akka.tcp://opendaylight-cluster-data@{{ 'api' | kolla_address(host) | put_address_in_context('url') }}:{{ opendaylight_clustering_port }}"{% if not loop.last %},{% endif %}{% endfor %}]

      roles = [
        "{{ hostvars[inventory_hostname]['ansible_hostname'] }}"
      ]

    }

    persistence {

      journal {
        leveldb {
        }
      }
    }
  }
}
