[client]
default-character-set=utf8
user={{ mariadb_backup_database_user }}
password={{ mariadb_backup_database_password }}
host={{ api_interface_address }}
port={{ mariadb_port }}
{% if database_enable_tls_backend | bool %}
ssl_ca=/etc/mariadb/certs/root.crt
{% endif %}
