{
    "command": "false",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/my.cnf",
            "dest": "/etc/mysql/my.cnf",
            "owner": "mysql",
            "perm": "0600"
        }
    ],
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/mariadb",
            "owner": "mysql:kolla",
            "perm": "2775"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/mariadb/*.log",
            "owner": "mysql:kolla",
            "perm": "0664"
        },
        {
            "path": "/backup",
            "owner": "mysql:mysql"
        }
    ]
}
