{
    "command": "/usr/sbin/xinetd -dontfork -filelog /var/log/kolla/mariadb/xinetd.log",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/clustercheck",
            "dest": "/etc/xinetd.d/clustercheck",
            "owner": "root",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/mariadb",
            "owner": "mysql:mysql",
            "recurse": true
        }
    ]
}
