{% set mysql_dir = 'mysql' if kolla_base_distro in ['ubuntu', 'debian'] else '' %}
{
    "command": "/usr/bin/mariadbd-safe",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/galera.cnf",
            "dest": "/etc/{{ mysql_dir }}/my.cnf",
            "owner": "mysql",
            "perm": "0600"
        }
        {% if mariadb_enable_healthchecks | bool %},
        {
            "source": "{{ container_config_directory }}/healthcheck.cnf",
            "dest": "/etc/{{ mysql_dir }}/healthcheck.cnf",
            "owner": "mysql",
            "perm": "0600"
        }{% endif %}
        {% if database_enable_tls_backend | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates/root.crt",
            "dest": "/etc/mariadb/certs/root.crt",
            "owner": "mysql",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/mariadb-cert.pem",
            "dest": "/etc/mariadb/certs/mariadb-cert.pem",
            "owner": "mysql",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/mariadb-key.pem",
            "dest": "/etc/mariadb/certs/mariadb-key.pem",
            "owner": "mysql",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/mariadb",
            "owner": "mysql:mysql",
            "recurse": true
        },
        {
            "path": "/var/lib/mysql",
            "owner": "mysql:mysql",
            "recurse": true
        }
    ]
}
