{
{% if (kolla_base_distro_version | default('')) in ['stream9', '9'] %}
    "command": "socat {% if network_address_family == 'ipv6' %}-6{% endif %} -d -lf/var/log/kolla/mariadb/mariadb-clustercheck.log tcp-l:{{ mariadb_clustercheck_port }},fork,reuseaddr,bind={{ api_interface_address }} EXEC:clustercheck",
    "config_files": [],
{% else %}
    "command": "/usr/sbin/xinetd -dontfork -filelog /var/log/kolla/mariadb/xinetd.log",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/clustercheck",
            "dest": "/etc/xinetd.d/clustercheck",
            "owner": "root",
            "perm": "0600"
        }
    ],
{% endif %}
    "permissions": [
        {
            "path": "/var/log/kolla/mariadb",
            "owner": "mysql:mysql",
            "recurse": true
        }
    ]
}
