# default: on
# description: mysqlchk
service mysqlchk
{
        disable = no
        flags = REUSE
        socket_type = stream
        type = UNLISTED
        port = {{ mariadb_clustercheck_port }}
        wait = no
        user = mysql
        server = /usr/bin/clustercheck
        log_type       = FILE /var/log/kolla/mariadb/xinetd.log
        log_on_failure = HOST ATTEMPT
        per_source = UNLIMITED
}
