{% set panko_log_dir = '/var/log/kolla/panko' %}
{% set python_path = '/usr/lib/python' ~ distro_python_version ~ '/site-packages' if panko_install_type == 'binary' else '/var/lib/kolla/venv/lib/python' ~ distro_python_version ~ '/site-packages' %}
{% set binary_path = '/usr/bin' if panko_install_type == 'binary' else '/var/lib/kolla/venv/bin' %}
Listen {{ api_interface_address | put_address_in_context('url') }}:{{ panko_api_port }}

ServerSignature Off
ServerTokens Prod
TraceEnable off

ErrorLog "{{ panko_log_dir }}/apache-error.log"
<IfModule log_config_module>
    CustomLog "{{ panko_log_dir }}/apache-access.log" common
</IfModule>

{% if panko_logging_debug | bool %}
LogLevel info
{% endif %}

<Directory "{{ binary_path }}">
    <FilesMatch "^panko-api$">
        Require all granted
    </FilesMatch>
</Directory>

<VirtualHost *:{{ panko_api_port }}>

  ErrorLog "{{ panko_log_dir }}/panko-api-error.log"
  LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
  CustomLog "{{ panko_log_dir }}/panko-api-access.log" logformat
  WSGIApplicationGroup %{GLOBAL}
  WSGIDaemonProcess panko group=panko processes={{ openstack_service_workers }} threads=1 user=panko python-path={{ python_path }}
  WSGIProcessGroup panko
  WSGIScriptAlias / "{{ binary_path }}/panko-api"

</VirtualHost>
