# ceph-ansible group vars
ceph_stable_release: "nautilus"
monitor_interface: "{{ api_interface_name }}"
radosgw_interface: "{{ api_interface_name }}"

public_network: "{{ api_network_prefix }}0/{{ api_network_prefix_length }}"

configure_firewall: false

docker: true
containerized_deployment: true
container_binary: "docker"
docker_pull_timeout: "600s"
ceph_docker_image_tag: "latest-nautilus"

dashboard_enabled: false

openstack_config: true
{% raw %}
openstack_pools:
  - "{{ openstack_glance_pool }}"
  - "{{ openstack_cinder_pool }}"
  - "{{ openstack_cinder_backup_pool }}"
  - "{{ openstack_nova_pool }}"

openstack_keys:
  - { name: client.glance, caps: { mon: "profile rbd", osd: "profile rbd pool=volumes, profile rbd pool={{ openstack_glance_pool.name }}"}, mode: "0600" }
  - { name: client.cinder, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_nova_pool.name }}, profile rbd pool={{ openstack_glance_pool.name }}"}, mode: "0600" }
  - { name: client.cinder-backup, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_cinder_backup_pool.name }}"}, mode: "0600" }
  - { name: client.nova, caps: { mon: "profile rbd", osd: "profile rbd pool={{ openstack_nova_pool.name }}, profile rbd pool={{ openstack_cinder_pool.name }}, profile rbd pool={{ openstack_glance_pool.name }}"}, mode: "0600" }
{% endraw %}

# osds
lvm_volumes:
  - data: cephlv
    data_vg: cephvg
