[storage]
{% for host in hostvars | reject('equalto', 'localhost') %}
{{ host }} ansible_host={{ hostvars[host]['ansible_host'] }}
{% endfor %}

# Ceph-Ansible hosts
[mons:children]
storage

[mgrs:children]
storage

[osds:children]
storage
