[libvirt]
virt_type=qemu
# NOTE(Jeffrey4l): fix the gate in iax-ord nodes for libvirt 2.0.
{% if ansible_architecture == 'aarch64' %}
cpu_mode=custom
cpu_model=max
{% else %}
cpu_mode=none
{% endif %}
