[libvirt]
{% if ansible_architecture == 'aarch64' %}
cpu_mode=custom
# cpu_model=max fails to boot multiple images with QEMU 7.0 and -M virt (works with "-M virt-6.2")
cpu_model=cortex-a72
{% endif %}
