---
# This file holds the config given to Tenks when running `deploy-tenks.sh`.

node_types:
  type0:
    memory_mb: 3072
    vcpus: 1
    volumes:
      # There is a minimum disk space capacity requirement of 4GiB when using Ironic Python Agent:
      # https://github.com/openstack/ironic-python-agent/blob/master/ironic_python_agent/utils.py#L290
      - capacity: 4GiB
    physical_networks:
      - physnet1
    console_log_enabled: true
    # NOTE(bbezak): Force QEMU to expose x86-64‑v2 features, so the Centos Stream IPA
    # doesn’t fail with "Fatal glibc error: CPU does not support x86-64-v2".
    cpu_mode: maximum
specs:
  - type: type0
    count: 1
    ironic_config:
      resource_class: test-rc
      network_interface: flat

nova_flavors:
  - resource_class: test-rc
    node_type: type0

physnet_mappings:
  physnet1: {{ neutron_external_bridge_name }}

deploy_kernel: ipa.vmlinuz
deploy_ramdisk: ipa.initramfs

default_boot_mode: "bios"

# Use the libvirt daemon deployed by Kolla Ansible in the nova_libvirt
# container. Tenks will install libvirt client packages.
libvirt_host_install_daemon: false

# Nested virtualisation is not working well in CI currently. Force the use of
# QEMU.
libvirt_vm_engine: "qemu"

# QEMU may not be installed on the host, so set the path and avoid
# autodetection.
libvirt_vm_emulator: "{% if ansible_facts.os_family == 'RedHat' %}/usr/libexec/qemu-kvm{% else %}/usr/bin/qemu-system-x86_64{% endif %}"

# Specify a log path in the kolla_logs Docker volume. It is accessible on the
# host at the same path.
libvirt_vm_default_console_log_dir: "/var/log/kolla/tenks"

# Console logs are owned by the ID of the Nova user in the nova_libvirt
# container.
libvirt_vm_log_owner: 42436

# NOTE(priteau): Disable libvirt_vm_trust_guest_rx_filters, which when enabled
# triggers the following errors when booting baremetal instances with Tenks on
# Libvirt 9: Cannot set interface flags on 'macvtap1': Value too large for
# defined data type
libvirt_vm_trust_guest_rx_filters: false

