extends: default
ignore: |
  .tox/

rules:
  line-length: disable
  truthy: disable
  braces:
    max-spaces-inside: 1
  comments:
    # Ignore first space in comment because we set default options as:
    #openstack_version: "pike"
    require-starting-space: true
    ignore: |
      etc/kolla/globals.yml