# linting
ansible-lint>=4.2.0 # MIT
bandit>=1.1.0 # Apache-2.0
bashate>=0.5.1 # Apache-2.0
doc8>=0.6.0 # Apache-2.0
hacking>=3.0.1,<3.1.0 # Apache-2.0
yamllint>=1.22.0 #GPL3

# coverage testing
coverage!=4.4,>=4.0 # Apache-2.0

# unit testing
docker>=2.4.2 # Apache-2.0
oslotest>=3.2.0 # Apache-2.0
stestr>=2.0.0 # Apache-2.0
ansible>=2.8.0 # GPLv3
