{
    "command": "blazar-api --config-file /etc/blazar/blazar.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/blazar.conf",
            "dest": "/etc/blazar/blazar.conf",
            "owner": "blazar",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/blazar/policy.json",
            "owner": "blazar",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/blazar",
            "owner": "blazar:blazar",
            "recurse": true
        }
    ]
}
