{
    "command": "tacker-server --config-file /etc/tacker/tacker.conf",
    "config_files":[
        {
            "source": "{{ container_config_directory }}/tacker.conf",
            "dest": "/etc/tacker/tacker.conf",
            "owner": "tacker",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/tacker/policy.json",
            "owner": "tacker",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/tacker",
            "owner": "tacker:tacker",
            "recurse": true
        }
    ]
}
