[provider]
name = OS Infra Provider
description = This provider uses OpenStack's own services (swift, cinder) as storage
id = {{ karbor_openstack_infra_id }}

plugin=karbor-volume-protection-plugin
plugin=karbor-image-protection-plugin
plugin=karbor-server-protection-plugin
bank=karbor-swift-bank-plugin

[swift_client]
swift_auth_url={{ internal_protocol }}://{{ kolla_internal_fqdn }}:{{ keystone_public_port }}/v2.0/
swift_auth_version=2
swift_user=admin
swift_key={{ keystone_admin_password }}
swift_tenant_name=admin

[swift_bank_plugin]
lease_expire_window=120
lease_renew_window=100
lease_validity_window=100
