{% set log_dir = '/var/log/kolla/placement' %}
{% set wsgi_directory = '/var/lib/kolla/venv/bin' %}
{% if placement_enable_tls_backend | bool %}
{% if kolla_base_distro in ['centos', 'rocky']  %}
LoadModule ssl_module /usr/lib64/httpd/modules/mod_ssl.so
{% else %}
LoadModule ssl_module /usr/lib/apache2/modules/mod_ssl.so
{% endif %}
{% endif %}
Listen {{ api_interface_address | put_address_in_context('url') }}:{{ placement_api_listen_port }}

ServerSignature Off
ServerTokens Prod
TraceEnable off
TimeOut {{ kolla_httpd_timeout }}
KeepAliveTimeout {{ kolla_httpd_keep_alive }}

{% if placement_logging_debug | bool %}
LogLevel info
{% endif %}

<VirtualHost *:{{ placement_api_listen_port }}>
    WSGIDaemonProcess placement-api processes={{ placement_api_workers }} threads=1 user=placement group=placement display-name=placement-api
    WSGIProcessGroup placement-api
    WSGIScriptAlias / {{ wsgi_directory }}/placement-api
    WSGIApplicationGroup %{GLOBAL}
    WSGIPassAuthorization On
    ErrorLogFormat "%{cu}t %M"
    ErrorLog "{{ log_dir }}/placement-api-error.log"
    LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
    CustomLog "{{ log_dir }}/placement-api-access.log" logformat
    <Directory {{ wsgi_directory }}>
        <Files placement-api>
            Require all granted
        </Files>
    </Directory>
{% if placement_enable_tls_backend | bool %}
    SSLEngine on
    SSLCertificateFile /etc/placement/certs/placement-cert.pem
    SSLCertificateKeyFile /etc/placement/certs/placement-key.pem
{% endif %}
</VirtualHost>
