defaults:
  api_url: '{{ prometheus_jiralert_api_url }}'
  user: '{{ prometheus_jiralert_user }}'
  password: '{{ prometheus_jiralert_api_token }}'
  issue_type: Bug
{% raw %}
  summary: '{{ template "jira.summary" . }}'
  description: '{{ template "jira.description" . }}'
{% endraw %}
  reopen_state: "To Do"
  wont_fix_resolution: "Won't Fix"
  reopen_duration: 0h
receivers:
  - name: '{{ prometheus_jiralert_default_receiver_name }}'
    project: '{{ prometheus_jiralert_project }}'
    add_group_labels: true
template: jiralert.tmpl
