{
    "command": "/opt/mtail --log_dir /var/log/kolla/prometheus --port {{ prometheus_mtail_port }} --progs /etc/mtail {% for dir in prometheus_mtail_log_directories %}--logs {{ dir }} {% endfor %}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/*.mtail",
            "dest": "/etc/mtail/",
            "owner": "prometheus",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/prometheus",
            "owner": "prometheus:prometheus",
            "recurse": true
        }
    ]
}
