basic_auth_users:
{% for user in prometheus_basic_auth_users | selectattr('enabled') | list %}
    {{ user.username }}: {{ user.password | password_hash('bcrypt', salt=prometheus_bcrypt_salt) }}
{% endfor %}
