modules:
  http_2xx:
    prober: http
  os_endpoint:
    prober: http
    http:
      valid_status_codes: [200,300]
      headers:
        Content-Type: application/json
      fail_if_body_not_matches_regexp:
        - "versions"
  http_post_2xx:
    prober: http
    http:
      method: POST
  tcp_connect:
    prober: tcp
  tls_connect:
    prober: tcp
    tcp:
      tls: true
  ssh_banner:
    prober: tcp
    tcp:
      query_response:
      - expect: "^SSH-2.0-"
  icmp:
    prober: icmp
  http_2xx_opensearch_dashboards:
    prober: http
    timeout: 5s
    http:
      basic_auth:
        username: {{ opensearch_dashboards_user }}
        password: {{ opensearch_dashboards_password }}
  http_2xx_prometheus:
    prober: http
    timeout: 5s
    http:
      basic_auth:
        username: admin
        password: {{ prometheus_password }}
  http_2xx_alertmanager:
    prober: http
    timeout: 5s
    http:
      basic_auth:
        username: {{ prometheus_alertmanager_user }}
        password: {{ prometheus_alertmanager_password }}
