global:
  resolve_timeout: 5m
  smtp_require_tls: true
route:
  receiver: default-receiver
  group_wait: 10s
  group_interval: 5m
  repeat_interval: 3h
receivers:
  - name: default-receiver
templates:
  - '/etc/prometheus/*.tmpl'
