{
    "command": "octavia-worker --config-file /etc/octavia/octavia.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/octavia.conf",
            "dest": "/etc/octavia/octavia.conf",
            "owner": "octavia",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/client_cert-and-key.pem",
            "dest": "/etc/octavia/certs/private/client_cert-and-key.pem",
            "owner": "octavia",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/server_ca_cert.pem",
            "dest": "/etc/octavia/certs/server_ca_cert.pem",
            "owner": "octavia",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/client_ca_cert.pem",
            "dest": "/etc/octavia/certs/client_ca_cert.pem",
            "owner": "octavia",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/server_ca_key.pem",
            "dest": "/etc/octavia/certs/private/server_ca_key.pem",
            "owner": "octavia",
            "perm": "0600"
        }
    ]
}
