{% set apache_binary = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set apache_conf_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{% set command = ( '/usr/sbin/' + apache_binary + ' -DFOREGROUND' ) if octavia_wsgi_provider == 'apache' else 'uwsgi /etc/octavia/octavia-api-uwsgi.ini' %}
{
    "command": "{{ command }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/octavia.conf",
            "dest": "/etc/octavia/octavia.conf",
            "owner": "octavia",
            "perm": "0600"
        }{% if octavia_wsgi_provider == "apache" %},
        {
            "source": "{{ container_config_directory }}/octavia-wsgi.conf",
            "dest": "/etc/{{ apache_conf_dir }}/octavia-wsgi.conf",
            "owner": "octavia",
            "perm": "0600"
        }{% elif octavia_wsgi_provider == "uwsgi" %},
        {
            "source": "{{ container_config_directory }}/octavia-api-uwsgi.ini",
            "dest": "/etc/octavia/octavia-api-uwsgi.ini",
            "owner": "octavia",
            "perm": "0600"
        }{% endif %}{% if octavia_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ octavia_policy_file }}",
            "dest": "/etc/octavia/{{ octavia_policy_file }}",
            "owner": "octavia",
            "perm": "0600"
        }{% endif %}{% if octavia_enable_tls_backend | bool %},
        {
            "source": "{{ container_config_directory }}/octavia-cert.pem",
            "dest": "/etc/octavia/certs/octavia-cert.pem",
            "owner": "octavia",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/octavia-key.pem",
            "dest": "/etc/octavia/certs/octavia-key.pem",
            "owner": "octavia",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/octavia",
            "owner": "octavia:kolla",
            "recurse": true
        },
        {
            "path": "/var/run/octavia",
            "owner": "octavia:octavia"
        }
    ]
}
