{
    "command": "octavia-housekeeping --config-file /etc/octavia/octavia.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/octavia.conf",
            "dest": "/etc/octavia/octavia.conf",
            "owner": "octavia",
            "perm": "0600"
        }
    ]
}
