{
    "command": "karbor-api --config-file /etc/karbor/karbor.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/karbor.conf",
            "dest": "/etc/karbor/karbor.conf",
            "owner": "karbor",
            "perm": "0644"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/karbor",
            "owner": "karbor:karbor",
            "recurse": true
        }
    ]
}
