{
    "command": "senlin-engine --config-file /etc/senlin/senlin.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/senlin.conf",
            "dest": "/etc/senlin/senlin.conf",
            "owner": "senlin",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/senlin/policy.json",
            "owner": "senlin",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/senlin",
            "owner": "senlin:senlin",
            "recurse": true
        }
    ]
}
