stdio_handler = "file"

user = "nova"
group = "nova"

max_files =  {{ qemu_max_files }}
max_processes =  {{ qemu_max_processes }}

{% if nova_spice_require_secure | bool %}
spice_tls = 1
spice_tls_x509_cert_dir = "/etc/pki/libvirt-spice"
{% endif %}

{% if enable_nova_swtpm | bool %}
swtpm_user = "{{ swtpm_user }}"
swtpm_group = "{{ swtpm_group }}"
{% endif %}
