{% set zun_cmd = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set zun_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{
    "command": "{{ zun_cmd }} -DFOREGROUND",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/zun.conf",
            "dest": "/etc/zun/zun.conf",
            "owner": "zun",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/wsgi-zun.conf",
            "dest": "/etc/{{ zun_dir }}/wsgi-zun.conf",
            "owner": "zun",
            "perm": "0600"
        }{% if zun_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ zun_policy_file }}",
            "dest": "/etc/zun/{{ zun_policy_file }}",
            "owner": "zun",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/zun",
            "owner": "zun:kolla",
            "recurse": true
        }
    ]
}
