{
    "command": "zun-cni-daemon --config-file /etc/zun/zun.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/zun.conf",
            "dest": "/etc/zun/zun.conf",
            "owner": "zun",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/zun",
            "owner": "zun:kolla",
            "recurse": true
        },
        {
            "path": "/opt/cni/",
            "owner": "zun:kolla",
            "recurse": true
        }
    ]
}
