{
    "command": "zun-compute --config-file /etc/zun/zun.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/zun.conf",
            "dest": "/etc/zun/zun.conf",
            "owner": "zun",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/{{ ceph_cluster }}.client.{{ ceph_cinder_user }}.keyring",
            "dest": "/etc/ceph/{{ ceph_cluster }}.client.{{ ceph_cinder_user }}.keyring",
            "owner": "zun",
            "perm": "0600",
            "optional": {{ (not zun_configure_for_cinder_ceph | bool) | string | lower }}
        },
        {
            "source": "{{ container_config_directory }}/{{ ceph_cluster }}.conf",
            "dest": "/etc/ceph/{{ ceph_cluster }}.conf",
            "owner": "zun",
            "perm": "0600",
            "optional": {{ (not zun_configure_for_cinder_ceph | bool) | string | lower }}
        }{% if zun_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ zun_policy_file }}",
            "dest": "/etc/zun/{{ zun_policy_file }}",
            "owner": "zun",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/zun",
            "owner": "zun:kolla",
            "recurse": true
        }{% if zun_configure_for_cinder_ceph | bool %},
        {
            "path": "/var/lib/zun",
            "owner": "zun:kolla"
        }{% endif %}
    ]
}
