{
    "command": "zun-api --config-file /etc/zun/zun.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/zun.conf",
            "dest": "/etc/zun/zun.conf",
            "owner": "zun",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/api-paste.ini",
            "dest": "/etc/zun/api-paste.ini",
            "owner": "zun",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/zun/policy.json",
            "owner": "zun",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/zun",
            "owner": "zun:zun",
            "recurse": true
        }
    ]
}
