{
    "command": "zun-compute --config-file /etc/zun/zun.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/zun.conf",
            "dest": "/etc/zun/zun.conf",
            "owner": "zun",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/zun/policy.json",
            "owner": "zun",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/zun",
            "owner": "zun:zun",
            "recurse": true
        }
    ]
}
