{
    "command": "/etc/haproxy/haproxy_run.sh",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/haproxy_run.sh",
            "dest": "/etc/haproxy/haproxy_run.sh",
            "owner": "root",
            "perm": "0700"
        },
        {
            "source": "{{ container_config_directory }}/haproxy.cfg",
            "dest": "/etc/haproxy/haproxy.cfg",
            "owner": "root",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/services.d/",
            "dest": "/etc/haproxy/services.d",
            "owner": "root",
            "perm": "0700"
        },
        {
            "source": "{{ container_config_directory }}/external-frontend-map",
            "dest": "/etc/haproxy/external-frontend-map",
            "owner": "root",
            "perm": "0600",
            "optional": {{ (not haproxy_single_external_frontend | bool) | string | lower }}
        }{% if kolla_enable_tls_external and letsencrypt_managed_certs == 'internal' or letsencrypt_managed_certs == '' %},
        {
            "source": "{{ container_config_directory }}/haproxy.pem",
            "dest": "/etc/haproxy/certificates/haproxy.pem",
            "owner": "haproxy",
            "perm": "0600",
            "optional": {{ (not kolla_enable_tls_external | bool) | string | lower }}
        }{% endif %}{% if kolla_enable_tls_internal | bool and letsencrypt_managed_certs == 'external' or letsencrypt_managed_certs == '' %},
        {
            "source": "{{ container_config_directory }}/haproxy-internal.pem",
            "dest": "/etc/haproxy/certificates/haproxy-internal.pem",
            "owner": "haproxy",
            "perm": "0600",
            "optional": {{ (not kolla_enable_tls_internal | bool) | string | lower }}
        }
        {% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ]
}
