{% set qinling_cmd = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set qinling_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{
    "command": "{{ qinling_cmd }} -DFOREGROUND",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/qinling.conf",
            "dest": "/etc/qinling/qinling.conf",
            "owner": "qinling",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/wsgi-qinling.conf",
            "dest": "/etc/{{ qinling_dir }}/wsgi-qinling.conf",
            "owner": "qinling",
            "perm": "0600"
        }{% if qinling_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ qinling_policy_file }}",
            "dest": "/etc/qinling/{{ qinling_policy_file }}",
            "owner": "qinling",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/qinling",
            "owner": "qinling:qinling",
            "recurse": true
        }
    ]
}
