{% set qinling_log_dir = '/var/log/kolla/qinling' %}
{% if kolla_base_distro == 'ubuntu' %}
    {% set python_path = '/usr/lib/python3/dist-packages' if qinling_install_type == 'binary' else '/var/lib/kolla/venv/lib/python3.6/site-packages' %}
{% else %}
    {% set python_path = '/usr/lib/python' ~ distro_python_version ~ '/site-packages' if qinling_install_type == 'binary' else '/var/lib/kolla/venv/lib/python' ~ distro_python_version ~ '/site-packages' %}
{% endif %}

Listen {{ api_interface_address | put_address_in_context('url') }}:{{ qinling_api_port }}

ServerSignature Off
ServerTokens Prod
TraceEnable off

ErrorLog "{{ qinling_log_dir }}/apache-error.log"
<IfModule log_config_module>
    CustomLog "{{ qinling_log_dir }}/apache-access.log" common
</IfModule>

{% if qinling_logging_debug | bool %}
LogLevel info
{% endif %}

<VirtualHost *:{{ qinling_api_port }}>

  ## Vhost docroot
  DocumentRoot "/var/www/cgi-bin/qinling"

  ## Directories, there should at least be a declaration for /var/www/cgi-bin/qinling

  <Directory "/var/www/cgi-bin/qinling">
    Options Indexes FollowSymLinks MultiViews
    Require all granted
  </Directory>

  ## Logging
  ErrorLog "{{ qinling_log_dir }}/qinling_api_wsgi_error.log"
  LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
  CustomLog "{{ qinling_log_dir }}/qinling_api_wsgi_access.log" logformat
  WSGIApplicationGroup %{GLOBAL}
  WSGIDaemonProcess qinling group=qinling processes={{ openstack_service_workers }} threads=1 user=qinling python-path={{ python_path }}
  WSGIProcessGroup qinling
  WSGIScriptAlias / "/var/www/cgi-bin/qinling/wsgi.py"
</VirtualHost>
