{
    "command": "/usr/sbin/sshd -D",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/sshd_config",
            "dest": "/etc/ssh/sshd_config",
            "owner": "root",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/id_rsa.pub",
            "dest": "/var/lib/keystone/.ssh/authorized_keys",
            "owner": "keystone",
            "perm": "0600"
        }{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0644"
        }{% endif %}
    ],
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/keystone",
            "owner": "keystone:kolla",
            "perm": "2775"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/keystone/*.log",
            "owner": "keystone:kolla",
            "perm": "0664"
        },
        {
            "path": "/etc/keystone/fernet-keys",
            "owner": "keystone:keystone",
            "perm": "0770"
        }
    ]
}
