Listen {{ api_interface_address }}:8081

ServerSignature Off
ServerTokens Prod
TraceEnable off
KeepAliveTimeout 60

<VirtualHost {{ api_interface_address }}:8081>
    DocumentRoot /etc/letsencrypt/http-01
    ErrorLog "/var/log/kolla/letsencrypt/letsencrypt-webserver-error.log"
    CustomLog "/var/log/kolla/letsencrypt/letsencrypt-webserver-access.log" common

    <Directory "/etc/letsencrypt/http-01/">
        Options None
        AllowOverride None
        Require all granted
    </Directory>

</VirtualHost>
