{
    "command": "venus-manager --config-file /etc/venus/venus.conf task start",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/venus.conf",
            "dest": "/etc/venus/venus.conf",
            "owner": "venus",
            "perm": "0644"
        }
    ],
   "permissions": [
        {
            "path":"/var/log/kolla/venus/venus-manager.log",
            "owner": "venus:venus",
            "recurse": true
        }
    ]
}

