<match syslog.local0.**>
  @type copy
  <store>
    @type file
    path /var/log/kolla/swift/swift_latest.*.log
    symlink_path /var/log/kolla/swift/swift_latest.log
    utc
    append true
    compress gzip
  </store>
{% if enable_elasticsearch | bool or
      elasticsearch_address != kolla_internal_vip_address %}
  <store>
       type elasticsearch
       host {{ elasticsearch_address }}
       port {{ elasticsearch_port }}
       logstash_format true
       logstash_prefix flog
       flush_interval 15s
  </store>
{% endif %}
</match>

<match syslog.local1.**>
  @type copy
  <store>
    @type file
    path /var/log/kolla/haproxy/haproxy_latest.*.log
    symlink_path /var/log/kolla/haproxy/haproxy_latest.log
    output_tag false
    output_time false
    utc
    append true
    compress gzip
  </store>
{% if enable_elasticsearch | bool or
      elasticsearch_address != kolla_internal_vip_address %}
  <store>
       type elasticsearch
       host {{ elasticsearch_address }}
       port {{ elasticsearch_port }}
       logstash_format true
       logstash_prefix flog
       flush_interval 15s
  </store>
{% endif %}
</match>
