<match *.**>
    @type copy
    <store>
       @type monasca
       keystone_url {{ keystone_internal_url }}
       monasca_api {{ monasca_log_api_internal_endpoint }}
       monasca_api_version v2.0
       username {{ monasca_agent_user }}
       password {{ monasca_agent_password }}
       domain_id default
       project_name {{ monasca_control_plane_project }}
       message_field_name Payload
       buffer_type file
       buffer_path /var/lib/fluentd/data/monasca.buffer/openstack.*
       max_retry_wait 1800s
       disable_retry_limit true
       <buffer>
         chunk_limit_size 8m
       </buffer>
    </store>
</match>
