<match *.**>
    type copy
    <store>
       @type monasca
       keystone_url {{ keystone_internal_url }}
       monasca_api {{ internal_protocol }}://{{ kolla_internal_fqdn | put_address_in_context('url') }}:{{ monasca_log_api_port }}
       monasca_api_version v2.0
       username {{ monasca_agent_user }}
       password {{ monasca_agent_password }}
       domain_id default
       project_name {{ monasca_control_plane_project }}
       message_field_name Payload
       buffer_type file
       buffer_path /var/lib/fluentd/data/monasca.buffer/openstack.*
       max_retry_wait 1800s
       disable_retry_limit true
    </store>
</match>
