[DEFAULT]
debug = {{ mistral_logging_debug }}

log_dir = /var/log/kolla/mistral
{% if service_name == 'mistral-engine' %}
log_file = /var/log/kolla/mistral/mistral-engine.log
{% elif service_name == 'mistral-event-engine' %}
log_file = /var/log/kolla/mistral/mistral-event-engine.log
{% elif service_name == 'mistral-executor' %}
log_file = /var/log/kolla/mistral/mistral-executor.log
{% endif %}

# NOTE(elemoine): set use_stderr to false or the logs will also be sent to
# stderr and collected by Docker
use_stderr = false

transport_url = {{ rpc_transport_url }}

{% if service_name == 'mistral-api' %}
[api]
host = {{ api_interface_address }}
port = {{ mistral_api_port }}
api_workers = {{ mistral_api_workers }}
{% elif service_name == 'mistral-engine' %}
[engine]
host = {{ api_interface_address }}
{% elif service_name == 'mistral-event-engine' %}
[event_engine]
host = {{ api_interface_address }}
{% elif service_name == 'mistral-executor' %}
[executor]
host = {{ api_interface_address }}
{% endif %}

[database]
connection = mysql+pymysql://{{ mistral_database_user }}:{{ mistral_database_password }}@{{ mistral_database_address }}/{{ mistral_database_name }}{{ '?ssl_ca=' ~ openstack_cacert if mistral_database_enable_tls_internal | bool }}
connection_recycle_time = {{ database_connection_recycle_time }}
max_pool_size = {{ database_max_pool_size }}
max_retries = -1

[keystone_authtoken]
service_type = workflow
www_authenticate_uri = {{ keystone_public_url }}
auth_url = {{ keystone_internal_url }}
auth_type = password
project_domain_id = {{ default_project_domain_id }}
user_domain_id = {{ default_user_domain_id }}
project_name = service
username = {{ mistral_keystone_user }}
password = {{ mistral_keystone_password }}
cafile = {{ openstack_cacert }}
region_name = {{ openstack_region_name }}

memcache_security_strategy = {{ memcache_security_strategy }}
memcache_secret_key = {{ memcache_secret_key }}
memcached_servers = {% for host in groups['memcached'] %}{{ 'api' | kolla_address(host) | put_address_in_context('memcache') }}:{{ memcached_port }}{% if not loop.last %},{% endif %}{% endfor %}


[mistral]
url = {{ mistral_internal_base_endpoint }}

[openstack_actions]
os_actions_endpoint_type = internal
default_region = {{ openstack_region_name }}

[oslo_messaging_notifications]
transport_url = {{ notify_transport_url }}
{% if mistral_enabled_notification_topics %}
driver = messagingv2
topics = {{ mistral_enabled_notification_topics | map(attribute='name') | join(',') }}
{% else %}
driver = noop
{% endif %}

[oslo_messaging_rabbit]
use_queue_manager = true
heartbeat_in_pthread = false
{% if om_enable_rabbitmq_tls | bool %}
ssl = true
ssl_ca_file = {{ om_rabbitmq_cacert }}
{% endif %}
rabbit_quorum_queue = true
{% if om_enable_rabbitmq_stream_fanout | bool %}
rabbit_stream_fanout = true
rabbit_qos_prefetch_count = {{ om_rabbitmq_qos_prefetch_count }}
{% endif %}
rabbit_transient_quorum_queue = true

{% if mistral_policy_file is defined %}
[oslo_policy]
policy_file = {{ mistral_policy_file }}
{% endif %}

{% if enable_osprofiler | bool %}
[profiler]
enabled = true
trace_sqlalchemy = true
hmac_keys = {{ osprofiler_secret }}
connection_string = {{ osprofiler_backend_connection_string }}
{% endif %}

[coordination]
backend_url = {{ valkey_connection_string }}

[oslo_concurrency]
lock_path = /var/lib/mistral/tmp
