counter syslog_sudo_events by user, operator
counter syslog_su_events by user, operator

/sudo: pam_unix\(sudo:session\): session opened for user (?P<user>.+) by (?P<operator>.+)\(.+\)/ {
   syslog_sudo_events[$user][$operator]++
}

/su: pam_unix\(su:session\): session opened for user (?P<user>.+) by (?P<operator>.+)\(.+\)/ {
   syslog_su_events[$user][$operator]++
}
