{
    "command": "freezer-scheduler --config-file /etc/freezer/freezer.conf start",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/freezer.conf",
            "dest": "/etc/freezer/freezer.conf",
            "owner": "freezer",
            "perm": "0600"
        }{% if freezer_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ freezer_policy_file }}",
            "dest": "/etc/freezer/{{ freezer_policy_file }}",
            "owner": "freezer",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/freezer",
            "owner": "freezer:freezer",
            "recurse": true
        }
    ]
}
