{% set cron_cmd = 'cron -f' if kolla_base_distro in ['ubuntu', 'debian'] else 'crond -s -n' %}
{
    "command": "{{ cron_cmd }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/caso.crontab",
            "dest": "/var/spool/cron/caso",
            "owner": "caso",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/caso.conf",
            "dest": "/etc/caso/caso.conf",
            "owner": "caso",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/voms.json",
            "dest": "/etc/caso/voms.json",
            "owner": "caso",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/caso",
            "owner": "caso:caso",
            "recurse": true
        }
    ]
}
