[docker-repo]
name=Docker main Repository
{% if (ansible_distribution | lower) == 'centos' %}
baseurl={{ docker_yum_centos_url }}/{{ ansible_distribution | lower }}/{{ ansible_distribution_major_version | lower }}
{% else %}
baseurl={{ docker_yum_url }}/repo/main/{{ ansible_distribution | lower }}/{{ ansible_distribution_major_version | lower }}
{% endif %}
enabled=1
gpgcheck=1
gpgkey={{ docker_yum_url }}/gpg
