EXPORT
{
	Export_id=1;

	Path = "/";

	Pseudo = /cephfs;

	Access_Type = RW;

	Protocols = 4;

	Transports = TCP;

	FSAL {
		Name = CEPH;
	}
}

LOG {
        Facility {
                name = FILE;
                destination = "/var/log/kolla/ceph/ceph-nfs.log";
                enable = active;
        }
}
