{
    "command": "/usr/bin/memcached -v -l {{ api_interface_address }} -p {{ memcached_port }} -c {{ memcached_connection_limit }} -U 0 -m {{ memcached_max_memory }}",
    "config_files": [],
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/memcached",
            "owner": "memcached:kolla",
            "perm": "2775"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/memcached/*.log",
            "owner": "memcached:kolla",
            "perm": "0664"
        }
    ]
}
