apiVersion: 1

datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  basicAuth: true
  basicAuthPassword: "{{ prometheus_grafana_password }}"
  basicAuthUser: "{{ prometheus_grafana_user }}"
  orgId: 1
  url: {{ grafana_prometheus_url }}
  version: 1
  jsonData:
    timeInterval: {{ prometheus_scrape_interval }}
