apiVersion: 1

datasources:
- name: Prometheus
  type: prometheus
  access: proxy
  basicAuth: true
  basicAuthUser: "{{ prometheus_grafana_user }}"
  secureJsonData:
    basicAuthPassword: "{{ prometheus_grafana_password }}"
  orgId: 1
  url: {{ grafana_prometheus_url }}
  jsonData:
    timeInterval: {{ prometheus_scrape_interval }}
