[DEFAULT]
debug=False
log_file="/var/log/kolla/openvswitch/ovn-bgp-agent.log"
watch_log_file=True

ovsdb_connection="unix:/var/run/openvswitch/db.sock"

driver="{{ ovn_bgp_agent_driver }}"
exposing_method="{{ ovn_bgp_agent_exposing_method }}"

bgp_AS="{{ bgp_local_asn }}"
bgp_router_id="{{ bgp_loopback_ip }}"
evpn_nic="{{ bgp_loopback_interface }}"
evpn_local_ip="{{ bgp_loopback_ip }}"
clear_vrf_routes_on_startup=True

[ovn]
ovn_nb_connection = "{{ ovn_nb_connection }}"
ovn_sb_connection = "{{ ovn_sb_connection }}"
