{
    "command": "ovn-bgp-agent --config-dir /etc/ovn-bgp-agent/",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/bgp-agent.conf",
            "dest": "/etc/ovn-bgp-agent/bgp-agent.conf",
            "owner": "ovn-bgp-agent",
            "perm": "0770"
        }
    ],
    "permissions": [
        {
            "path": "/etc/ovn-bgp-agent/",
            "owner": "ovn-bgp-agent:ovn-bgp-agent",
            "recurse": true
        },
        {
            "path": "/var/run/ovn-bgp-agent/",
            "owner": "ovn-bgp-agent:ovn-bgp-agent",
            "recurse": true
        }
    ]
}
