{
    "command": "designate-worker --config-file /etc/designate/designate.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/designate.conf",
            "dest": "/etc/designate/designate.conf",
            "owner": "designate",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/designate/policy.json",
            "owner": "designate",
            "perm": "0600",
            "optional": true
        },
        {
            "source": "{{ container_config_directory }}/pools.yaml",
            "dest": "/etc/designate/pools.yaml",
            "owner": "designate",
            "perm": "0600",
            "optional": true
        },
        {
            "source": "{{ container_config_directory }}/rndc.conf",
            "dest": "/etc/designate/rndc.conf",
            "owner": "designate",
            "perm": "0600",
            "optional": true
        },
        {
            "source": "{{ container_config_directory }}/rndc.key",
            "dest": "/etc/designate/rndc.key",
            "owner": "designate",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/designate",
            "owner": "designate:designate",
            "recurse": true
        }
    ]
}
