{
    "command": "manila-scheduler --config-file /etc/manila/manila.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/manila.conf",
            "dest": "/etc/manila/manila.conf",
            "owner": "manila",
            "perm": "0600"
        }{% if manila_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ manila_policy_file }}",
            "dest": "/etc/manila/{{ manila_policy_file }}",
            "owner": "manila",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/manila",
            "owner": "manila:manila",
            "recurse": true
        }
    ]
}
