{
    "command": "/usr/share/opensearch-dashboards/bin/opensearch-dashboards --config /etc/opensearch/opensearch_dashboards.yml",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/opensearch_dashboards.yml",
            "dest": "/etc/opensearch/opensearch_dashboards.yml",
            "owner": "opensearch",
            "perm": "0640"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/opensearch",
            "owner": "opensearch:opensearch",
            "recurse": true
        },
        {
            "path": "/usr/share/opensearch/dashboards/optimize/bundles",
            "owner": "opensearch:opensearch",
            "recurse": true
        }
    ]
}
