{
    "command": "/usr/share/opensearch/bin/opensearch",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/opensearch.yml",
            "dest": "/etc/opensearch/opensearch.yml",
            "owner": "opensearch",
            "perm": "0600"
        }{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0644"
        }{% endif %}
    ],
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/opensearch",
            "owner": "opensearch:kolla",
            "perm": "2775"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/opensearch/*.log",
            "owner": "opensearch:kolla",
            "perm": "0664"
        },
        {
            "path": "/var/lib/opensearch",
            "owner": "opensearch:opensearch",
            "recurse": true
        }
    ]
}
