{
    "command": "valkey-sentinel {{ valkey_generated_conf_path }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/valkey.conf",
            "dest": "{{ valkey_conf_path }}",
            "owner": "valkey",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/valkey",
            "owner": "valkey:valkey",
            "recurse": true
        },
        {
            "path": "/etc/valkey",
            "owner": "valkey:valkey"
        }
    ]
}
