{
    "command": "murano-engine --config-file /etc/murano/murano.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/murano.conf",
            "dest": "/etc/murano/murano.conf",
            "owner": "murano",
            "perm": "0600"
        }{% if murano_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ murano_policy_file }}",
            "dest": "/etc/murano/{{ murano_policy_file }}",
            "owner": "murano",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/murano",
            "owner": "murano:murano",
            "recurse": true
        }
    ]
}
