{
    "command": "sleep infinity",
    "config_files":[
        {
            "source": "{{ container_config_directory }}/rally.conf",
            "dest": "/etc/rally/rally.conf",
            "owner": "rally",
            "perm": "0600"
        }{% if rally_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ rally_policy_file }}",
            "dest": "/etc/rally/{{ rally_policy_file }}",
            "owner": "rally",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/rally",
            "owner": "rally:rally",
            "recurse": true
        }
    ]
}
