{
    "command": "gnocchi-statsd --log-file /var/log/kolla/gnocchi/gnocchi-statsd.log",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/gnocchi.conf",
            "dest": "/etc/gnocchi/gnocchi.conf",
            "owner": "gnocchi",
            "perm": "0600"
        }{% if gnocchi_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ gnocchi_policy_file }}",
            "dest": "/etc/gnocchi/{{ gnocchi_policy_file }}",
            "owner": "gnocchi",
            "perm": "0600"
        }{% endif %}{% if gnocchi_backend_storage == 'ceph' %},
        {
            "source": "{{ container_config_directory }}/ceph",
            "dest": "/etc/ceph",
            "owner": "gnocchi",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/lib/gnocchi",
            "owner": "gnocchi:gnocchi"
        },
        {
            "path": "/var/log/kolla/gnocchi",
            "owner": "gnocchi:kolla"
        },
        {
            "path": "/var/log/kolla/gnocchi/gnocchi-statsd.*",
            "owner": "gnocchi:gnocchi"
        }
    ]
}
