{% set gnocchi_log_dir = '/var/log/kolla/gnocchi' %}
{% if gnocchi_install_type == 'binary' %}
    {% set python_path = '/usr/lib/python3/dist-packages' if kolla_base_distro in ['debian', 'ubuntu'] else '/usr/lib/python' ~ distro_python_version ~ '/site-packages' %}
{% else %}
    {% set python_path = '/var/lib/kolla/venv/lib/python' + distro_python_version + '/site-packages' %}
{% endif %}
{% set wsgi_path = '/usr/bin' if gnocchi_install_type == 'binary' else '/var/lib/kolla/venv/bin' %}
Listen {{ api_interface_address | put_address_in_context('url') }}:{{ gnocchi_api_listen_port }}

ServerSignature Off
ServerTokens Prod
TraceEnable off

ErrorLog "{{ gnocchi_log_dir }}/apache-error.log"
<IfModule log_config_module>
    CustomLog "{{ gnocchi_log_dir }}/apache-access.log" common
</IfModule>

{% if gnocchi_logging_debug | bool %}
LogLevel info
{% endif %}

<VirtualHost *:{{ gnocchi_api_listen_port }}>

  ErrorLog "{{ gnocchi_log_dir }}/gnocchi-api-error.log"
  LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
  CustomLog "{{ gnocchi_log_dir }}/gnocchi-api-access.log" logformat
  WSGIApplicationGroup %{GLOBAL}
  WSGIDaemonProcess gnocchi group=gnocchi processes={{ openstack_service_workers }} threads=1 user=gnocchi python-path={{ python_path }}
  WSGIProcessGroup gnocchi
  WSGIScriptAlias / "{{ wsgi_path }}/gnocchi-api"

  <Directory "{{ wsgi_path }}">
        Require all granted
  </Directory>

</VirtualHost>
