{
    "command": "start-ovsdb-server 127.0.0.1",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/start-ovsdb-server",
            "dest": "/usr/local/bin/start-ovsdb-server",
            "owner": "root",
            "perm": "0655"
        }
    ]
}
