{
    "command": "start-ovsdb-server {{ api_interface_address }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/start-ovsdb-server",
            "dest": "/usr/local/bin/start-ovsdb-server",
            "owner": "root",
            "perm": "0655"
        }
    ]
}
