[DEFAULT]
debug = {{ masakari_logging_debug }}
log_dir = /var/log/kolla/masakari

[api]
region = {{ openstack_region_name }}
auth_url = {{ keystone_admin_url }}
user_domain_id = {{ default_user_domain_id }}
project_name = service
project_domain_id = {{ default_project_domain_id }}
username = {{ masakari_keystone_user }}
password = {{ masakari_keystone_password }}
cafile = {{ openstack_cacert }}
api_interface = internal

[libvirt]
connection_uri = "qemu+tcp://{{ migration_interface_address | put_address_in_context('url') }}/system"
