{% set apache_binary = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set apache_conf_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{% set command = ('/usr/sbin/' + apache_binary + ' -DFOREGROUND') if masakari_wsgi_provider == 'apache' else 'uwsgi /etc/masakari/masakari-api-uwsgi.ini' %}
{
    "command": "{{ command }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/masakari.conf",
            "dest": "/etc/masakari/masakari.conf",
            "owner": "masakari",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/masakari-api-paste.ini",
            "dest": "/etc/masakari/api-paste.ini",
            "owner": "masakari",
            "perm": "0600"
        }{% if masakari_wsgi_provider == 'apache' %},
        {
            "source": "{{ container_config_directory }}/wsgi-masakari.conf",
            "dest": "/etc/{{ apache_conf_dir }}/wsgi-masakari.conf",
            "owner": "root",
            "perm": "0600"
        }{% elif masakari_wsgi_provider == 'uwsgi' %},
        {
            "source": "{{ container_config_directory }}/masakari-api-uwsgi.ini",
            "dest": "/etc/masakari/masakari-api-uwsgi.ini",
            "owner": "masakari",
            "perm": "0600"
        }{% endif %}{% if masakari_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ masakari_policy_file }}",
            "dest": "/etc/masakari/{{ masakari_policy_file }}",
            "owner": "masakari",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
       {
            "path": "/var/log/kolla/masakari",
            "owner": "masakari:masakari",
            "recurse": true
       }
  ]
}
