{
    "command": "masakari-instancemonitor --config-file /etc/masakari-monitors/masakari-monitors.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/masakari-monitors.conf",
            "dest": "/etc/masakari-monitors/masakari-monitors.conf",
            "owner": "masakari",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/masakari",
            "owner": "masakari:masakari",
            "recurse": true
        }
    ]
}
