{% set masakari_log_dir = '/var/log/kolla/masakari' %}
{% if kolla_base_distro in ['debian', 'ubuntu'] %}
    {% set python_path = '/usr/lib/python3/dist-packages' if masakari_install_type == 'binary' else '/var/lib/kolla/venv/lib/python' + distro_python_version + '/site-packages' %}
{% else %}
    {% set python_path = '/usr/lib/python' ~ distro_python_version ~ '/site-packages' if masakari_install_type == 'binary' else '/var/lib/kolla/venv/lib/python' + distro_python_version + '/site-packages' %}
{% endif %}
{% set binary_path = '/usr/bin' if masakari_install_type == 'binary' else '/var/lib/kolla/venv/bin' %}

Listen {{ api_interface_address | put_address_in_context('url') }}:{{ masakari_api_port }}

ServerSignature Off
ServerTokens Prod
TraceEnable off

ErrorLog "{{ masakari_log_dir }}/apache-error.log"
<IfModule log_config_module>
    CustomLog "{{ masakari_log_dir }}/apache-access.log" common
</IfModule>

{% if masakari_logging_debug | bool %}
LogLevel info
{% endif %}

<Directory "{{ binary_path }}">
    <FilesMatch "^masakari-wsgi$">
      Options Indexes FollowSymLinks MultiViews
      Require all granted
    </FilesMatch>
</Directory>

<VirtualHost *:{{ masakari_api_port }}>
  ## Logging
  ErrorLog "{{ masakari_log_dir }}/masakari_wsgi_error.log"
  LogFormat "%{X-Forwarded-For}i %l %u %t \"%r\" %>s %b %D \"%{Referer}i\" \"%{User-Agent}i\"" logformat
  CustomLog "{{ masakari_log_dir }}/masakari_wsgi_access.log" logformat
  WSGIApplicationGroup %{GLOBAL}
  WSGIDaemonProcess masakari group=masakari processes={{ openstack_service_workers }} threads=1 user=masakari python-path={{ python_path }}
  WSGIProcessGroup masakari
  WSGIScriptAlias / "{{ binary_path }}/masakari-wsgi"
</VirtualHost>
