{
    "command": "cinder-volume --config-file /etc/cinder/cinder.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/cinder.conf",
            "dest": "/etc/cinder/cinder.conf",
            "owner": "cinder",
            "perm": "0600"
        },{% if cinder_backend_huawei | bool and cinder_backend_huawei_xml_files | length > 0 %}{% for file in cinder_backend_huawei_xml_files %}
        {
            "source": "{{ container_config_directory }}/{{ file }}",
            "dest": "/etc/cinder/{{ file }}",
            "owner": "cinder",
            "perm": "0600",
            "optional": {{ (not cinder_backend_huawei | bool) | string | lower }}
        },{% endfor%}{% endif %}{% if cinder_backend_ceph | bool %}
        {
            "source": "{{ container_config_directory }}/ceph",
            "dest": "/etc/ceph",
            "owner": "cinder",
            "perm": "0600"
        },{% endif %}
        {
            "source": "{{ container_config_directory }}/nfs_shares",
            "dest": "/etc/cinder/nfs_shares",
            "owner": "cinder",
            "perm": "0600",
            "optional": {{ (not enable_cinder_backend_nfs | bool) | string | lower }}
        },
        {
            "source": "{{ container_config_directory }}/hostnqn",
            "dest": "/etc/nvme/hostnqn",
            "owner": "root",
            "perm": "0644"
        }{% if cinder_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ cinder_policy_file }}",
            "dest": "/etc/cinder/{{ cinder_policy_file }}",
            "owner": "cinder",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/lib/cinder",
            "owner": "cinder:cinder",
            "recurse": true
        },
        {
            "path": "/var/log/kolla/cinder",
            "owner": "cinder:cinder",
            "recurse": true
        }
    ]
}
