{% set cinder_cmd = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{% set cinder_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{% set command = '/usr/sbin/' + apache_binary + ' -DFOREGROUND' if cinder_wsgi_provider == 'apache' else 'uwsgi /etc/cinder/cinder-api-uwsgi.ini' %}
{
    "command": "{{ command }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/cinder.conf",
            "dest": "/etc/cinder/cinder.conf",
            "owner": "cinder",
            "perm": "0600"
        }{% if cinder_wsgi_provider == 'apache' %},
        {
            "source": "{{ container_config_directory }}/cinder-wsgi.conf",
            "dest": "/etc/{{ cinder_dir }}/cinder-wsgi.conf",
            "owner": "cinder",
            "perm": "0600"
        }{% elif cinder_wsgi_provider == 'uwsgi' %},
        {
            "source": "{{ container_config_directory }}/cinder-api-uwsgi.ini",
            "dest": "/etc/cinder/cinder-api-uwsgi.ini",
            "owner": "cinder",
            "perm": "0600"
        }{% endif %}{% if cinder_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ cinder_policy_file }}",
            "dest": "/etc/cinder/{{ cinder_policy_file }}",
            "owner": "cinder",
            "perm": "0600"
        }{% endif %}{% if cinder_enable_tls_backend | bool %},
        {
            "source": "{{ container_config_directory }}/cinder-cert.pem",
            "dest": "/etc/cinder/certs/cinder-cert.pem",
            "owner": "cinder",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/cinder-key.pem",
            "dest": "/etc/cinder/certs/cinder-key.pem",
            "owner": "cinder",
            "perm": "0600"
        }{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    {% endif %}],
    "permissions": [
        {
            "path": "/var/lib/cinder",
            "owner": "cinder:cinder",
            "recurse": true
        },
        {
            "path": "/var/log/kolla/cinder",
            "owner": "cinder:cinder",
            "recurse": true
        }
    ]
}
