client:
  hosts: [{% for host in groups['elasticsearch'] %}"{{ 'api' | kolla_address(host) }}"{% if not loop.last %},{% endif %}{% endfor %}]
  port: {{ elasticsearch_port }}
  timeout: 30

logging:
  loglevel: INFO
  logfile: /var/log/kolla/elasticsearch/elasticsearch-curator.log
