{
    "command": "redis-server /etc/redis/redis.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/redis.conf",
            "dest": "/etc/redis/redis.conf",
            "owner": "redis",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/redis",
            "owner": "redis:redis",
            "recurse": true
        }
    ]
}
