{
    "command": "redis-server {{ redis_conf_path }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/redis.conf",
            "dest": "{{ redis_conf_path }}",
            "owner": "redis",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/redis",
            "owner": "redis:redis",
            "recurse": true
        }
    ]
}
