clouds:
  kolla-admin:
    auth:
      auth_url: {{ keystone_public_url }}
      project_domain_name: {{ default_project_domain_name }}
      user_domain_name: {{ default_user_domain_name }}
      project_name: {{ keystone_admin_project }}
      username: {{ keystone_admin_user }}
    region_name: {{ openstack_region_name }}
{% if kolla_admin_openrc_cacert is not none and kolla_admin_openrc_cacert | length > 0 %}
    cacert: {{ kolla_admin_openrc_cacert }}
{% endif %}
  kolla-admin-system:
    auth:
      auth_url: {{ keystone_public_url }}
      user_domain_name: {{ default_user_domain_name }}
      system_scope: all
      username: {{ keystone_admin_user }}
    region_name: {{ openstack_region_name }}
{% if kolla_admin_openrc_cacert is not none and kolla_admin_openrc_cacert | length > 0 %}
    cacert: {{ kolla_admin_openrc_cacert }}
{% endif %}
  kolla-admin-internal:
    auth:
      auth_url: {{ keystone_internal_url }}
      project_domain_name: {{ default_project_domain_name }}
      user_domain_name: {{ default_user_domain_name }}
      project_name: {{ keystone_admin_project }}
      username: {{ keystone_admin_user }}
    interface: internal
    region_name: {{ openstack_region_name }}
{% if kolla_admin_openrc_cacert is not none and kolla_admin_openrc_cacert | length > 0 %}
    cacert: {{ kolla_admin_openrc_cacert }}
{% endif %}
  kolla-admin-system-internal:
    auth:
      auth_url: {{ keystone_internal_url }}
      user_domain_name: {{ default_user_domain_name }}
      system_scope: all
      username: {{ keystone_admin_user }}
    interface: internal
    region_name: {{ openstack_region_name }}
{% if kolla_admin_openrc_cacert is not none and kolla_admin_openrc_cacert | length > 0 %}
    cacert: {{ kolla_admin_openrc_cacert }}
{% endif %}
  kolla-octavia-internal:
    auth:
      auth_url: {{ keystone_internal_url }}
      project_domain_name: {{ default_project_domain_name }}
      user_domain_name: {{ default_user_domain_name }}
      project_name: {{ octavia_service_auth_project }}
      username: octavia
    interface: internal
    region_name: {{ openstack_region_name }}
{% if kolla_admin_openrc_cacert is not none and kolla_admin_openrc_cacert | length > 0 %}
    cacert: {{ kolla_admin_openrc_cacert }}
{% endif %}
