[
  {version, 1},
  {nodes, [
  {% for host in groups[role_rabbitmq_groups] %}
    {'rabbit@{{ hostvars[host]['ansible_hostname'] }}', disc}
      {%- if not loop.last -%},{%- endif %}
  {% endfor %}
  ]},
  {gospel,
    {node, 'rabbit@{{ hostvars[groups[role_rabbitmq_groups][0]]['ansible_hostname'] }}'}}
].
