[
  {kernel, [
    {inet_dist_use_interface, {% raw %}{{% endraw %}{{ api_interface_address | regex_replace('\.', ',') }}}},
    {inet_dist_listen_min, {{ role_rabbitmq_cluster_port }}},
    {inet_dist_listen_max, {{ role_rabbitmq_cluster_port }}}
  ]},
  {rabbit, [
{% if rabbitmq_hipe_compile|bool %}
    {hipe_compile, true},
{% endif %}
    {tcp_listeners, [
      {"{{ api_interface_address }}", {{ role_rabbitmq_port }}}
    ]},
    {cluster_partition_handling, autoheal}
  ]},
  {rabbitmq_management, [
    {listener, [
      {ip, "{{ api_interface_address }}"},
      {port, {{ role_rabbitmq_management_port }}}
    ]},
    {load_definitions, "/etc/rabbitmq/definitions.json"}
  ]},
  {rabbitmq_clusterer, [{config, "/etc/rabbitmq/rabbitmq-clusterer.config"}]}
].
% EOF
