[req]
distinguished_name = req_distinguished_name
req_extensions = v3_req

[req_distinguished_name]
countryName = US
stateOrProvinceName = NC
localityName = RTP
organizationalUnitName = kolla
commonName = {{ kolla_external_fqdn }}

[v3_req]
subjectAltName = @alt_names

[alt_names]
IP.1 = {{ kolla_external_vip_address }}
# NOTE(Xing Zhang): Add IPv6 external VIP address to IP.2 when
# ipv6-control-plane is implemented.
#IP.2 =
{% if kolla_external_fqdn != kolla_external_vip_address %}
DNS.1 = {{ kolla_external_fqdn }}
{% endif %}
