#!ipxe

:retry_dhcp
dhcp || goto retry_dhcp

{# Standalone ironic: use ironic-configured PXE configs #}
{% if not enable_neutron | bool %}
# load the MAC-specific file or fail if it's not found
:boot_system
chain pxelinux.cfg/${mac:hexhyp} || goto ipa
{% endif %}

:ipa
:retry_boot
set ipa_kernel ironic-agent.kernel
set ipa_initramfs ironic-agent.initramfs
{% for arch, files in ironic_agent_arch_files.items() %}
iseq ${buildarch} {{ 'arm64' if arch == 'aarch64' else arch }} && set ipa_kernel {{ files.kernel }} ||
iseq ${buildarch} {{ 'arm64' if arch == 'aarch64' else arch }} && set ipa_initramfs {{ files.initramfs }} ||
{% endfor %}
imgfree
kernel --timeout 30000 {{ ironic_http_url }}/${ipa_kernel} ipa-inspection-callback-url={{ ironic_internal_endpoint }}/v1/continue_inspection systemd.journald.forward_to_console=yes BOOTIF=${mac} initrd=${ipa_initramfs} {{ ironic_kernel_cmdline_extras | join(' ') }} || goto retry_boot
initrd --timeout 30000 {{ ironic_http_url }}/${ipa_initramfs} || goto retry_boot
boot
