{% set pxe_dir = '/var/lib/ironic/tftpboot/pxelinux.cfg' %}
{% set pxe_cfg = 'default' %}

{
    "command": "/usr/sbin/in.tftpd --verbose --foreground --user nobody --address {{ ironic_tftp_listen_address }}:69 --map-file /map-file /var/lib/ironic/tftpboot",
    "config_files": [
{% if not ironic_dnsmasq_serve_ipxe | bool and groups['ironic-dnsmasq'] | length > 0 %}
        {
            "source": "{{ container_config_directory }}/ironic-agent.kernel",
            "dest": "/var/lib/ironic/tftpboot/ironic-agent.kernel",
            "owner": "root",
            "perm": "0644"
        },
        {
            "source": "{{ container_config_directory }}/ironic-agent.initramfs",
            "dest": "/var/lib/ironic/tftpboot/ironic-agent.initramfs",
            "owner": "root",
            "perm": "0644"
        },
        {
            "source": "{{ container_config_directory }}/default",
            "dest": "{{ pxe_dir }}/{{ pxe_cfg }}",
            "owner": "root",
            "perm": "0644"
        }
{% endif %}
    ],
    "permissions": [
        {
            "path": "{{ pxe_dir }}",
            "owner": "ironic:ironic",
            "recurse": true
        }
    ]
}
