{% set apache_conf_dir = 'apache2/conf-enabled' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd/conf.d' %}
{% set apache_cmd = 'apache2' if kolla_base_distro in ['ubuntu', 'debian'] else 'httpd' %}
{
    "command": "{{ apache_cmd }} -DFOREGROUND",
    "config_files": [
{% for item in ironic_agent_files if groups['ironic-dnsmasq'] | length > 0 %}
        {
            "source": "{{ container_config_directory }}/{{ item }}",
            "dest": "/var/lib/ironic/httpboot/{{ item }}",
            "owner": "root",
            "perm": "0644"
        },
{% endfor %}
{% if groups['ironic-dnsmasq'] | length > 0 %}
        {
            "source": "{{ container_config_directory }}/ipa.ipxe",
            "dest": "/var/lib/ironic/httpboot/ipa.ipxe",
            "owner": "root",
            "perm": "0644"
        },
{% endif %}
        {
            "source": "{{ container_config_directory }}/httpd.conf",
            "dest": "/etc/{{ apache_conf_dir }}/httpboot.conf",
            "owner": "root",
            "perm": "0644"
        }{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0644"
        }{% endif %}
    ]
}
