{
    "command": "ironic-inspector --config-file /etc/ironic-inspector/ironic.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/ironic.conf",
            "dest": "/etc/ironic-inspector/ironic.conf",
            "owner": "ironic",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/ironic/policy.json",
            "owner": "ironic",
            "perm": "0600",
            "optional": true
        }
    ]
}
