port=0
interface={{ api_interface }}
dhcp-range={{ ironic_dnsmasq_dhcp_range }}
dhcp-option=option:tftp-server,{{ api_interface_address }}
dhcp-option=option:server-ip-address,{{ api_interface_address }}
bind-interfaces
dhcp-sequential-ip
dhcp-option=option:bootfile-name,pxelinux.0
dhcp-option=210,/tftpboot/
