{
    "command": "trove-conductor --config-file=/etc/trove/trove-conductor.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/trove-conductor.conf",
            "dest": "/etc/trove/trove-conductor.conf",
            "owner": "trove",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/trove",
            "owner": "trove:trove",
            "recurse": true
        },
        {
            "path": "/var/lib/trove",
            "owner": "trove:trove",
            "recurse": true
        }
    ]
}
