[DEFAULT]
transport_url = {{ rpc_transport_url }}
control_exchange = trove
root_grant = ALL
root_grant_option = True
debug = {{ trove_logging_debug }}

[oslo_messaging_rabbit]
heartbeat_in_pthread = false
{% if om_enable_rabbitmq_high_availability | bool %}
amqp_durable_queues = true
{% endif %}
