{
    "command": "trove-conductor --config-file=/etc/trove/trove.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/trove.conf",
            "dest": "/etc/trove/trove.conf",
            "owner": "trove",
            "perm": "0600"
        }{% if trove_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ trove_policy_file }}",
            "dest": "/etc/trove/{{ trove_policy_file }}",
            "owner": "trove",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/trove",
            "owner": "trove:trove",
            "recurse": true
        },
        {
            "path": "/var/lib/trove",
            "owner": "trove:trove",
            "recurse": true
        }
    ]
}
