{
    "command": "{{ ovn_nb_command }}",
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/openvswitch",
            "owner": "openvswitch:kolla",
            "perm": "2775"
        }
    ],
    "files": [
        {
            "path": "/var/log/kolla/openvswitch/ovn-nb-db.log",
            "owner": "openvswitch:kolla",
            "perm": "0664"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/openvswitch/*.log",
            "owner": "openvswitch:kolla",
            "perm": "0664"
        }
    ]
}
