{
    "command": "{{ ovn_sb_relay_command }}",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/ovsdb-relay.json",
            "dest": "/etc/ovn/ovsdb-relay.json",
            "owner": "openvswitch",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/openvswitch",
            "owner": "root:root",
            "recurse": true
        }
    ]
}
