
{
    "remotes": {
        "ptcp:{{ ovn_sb_db_relay_port_prefix ~ ovn_sb_db_relay_group_id }}:{{ api_interface_address | put_address_in_context('url') }}": {
            "inactivity-probe": {{ ovn_sb_db_relay_passive_inactivity_probe }}
        }
    },
    "databases": {
        "OVN_Southbound": {
            "service-model": "relay",
            "source": {
                "{{ ovn_sb_connection_no_relay }}": {
                    "inactivity-probe": {{ ovn_sb_db_relay_active_inactivity_probe }},
                    "max-backoff": {{ ovn_sb_db_relay_max_backoff }}
                }
            }
        }
    }
}

