{
    "command": "start-frr",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/start-frr",
            "dest": "/usr/local/bin/start-frr",
            "owner": "frr",
            "perm": "0770"
        },
        {
            "source": "{{ container_config_directory }}/daemons",
            "dest": "/etc/frr/",
            "owner": "frr",
            "perm": "0770"
        },
        {
            "source": "{{ container_config_directory }}/frr.conf",
            "dest": "/etc/frr/",
            "owner": "frr",
            "perm": "0770"
        }
    ],
    "permissions": [
        {
            "path": "/etc/frr/",
            "owner": "frr:frr",
            "recurse": true
        },
        {
            "path": "/var/log/kolla/frr/",
            "owner": "frr:frr",
            "recurse": true
        },
        {
            "path": "/var/run/frr/",
            "owner": "frr:frr",
            "recurse": true
        }
    ]
}
