#!/bin/bash

# This will return 0 when it successfully talks to the ProxySQL daemon via localhost
# Failures return 1

mariadb --no-defaults \
  --protocol socket \
  --socket=/var/lib/kolla/proxysql/admin.sock \
  --user={{ proxysql_admin_user }} \
  --password={{ proxysql_admin_password }} \
  --skip-ssl \
  -e "SELECT 1" 2>/dev/null
