{
    "command": "/usr/sbin/keepalived -nld -p /run/keepalived.pid",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/keepalived.conf",
            "dest": "/etc/keepalived/keepalived.conf",
            "owner": "root",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/checks/",
            "dest": "/checks",
            "owner": "root",
            "perm": "0770"
        }{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ]
}
