{
    "command": "/sbin/multipathd -d",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/multipath.conf",
            "dest": "/etc/multipath.conf",
            "owner": "root",
            "perm": "0600"
        }
    ],
    "directories": [
        {
            "path": "/var/log/kolla",
            "owner": "fluentd:kolla",
            "perm": "2775"
        },
        {
            "path": "/var/log/kolla/multipathd",
            "owner": "root:kolla",
            "perm": "2775"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/multipathd/*.log",
            "owner": "root:kolla",
            "perm": "0664"
        }
    ]
}
