#!/bin/bash

PRIV_NET_NAME=demo-net
PRIV_NET_SUBNET=demo-subnet
PRIV_NET_ROUTER=demo-router
PRIV_NET_CIDR='10.0.0.0/24'
PRIV_NET_GATEWAY='10.0.0.1'

EXT_PHYSNET_NAME=physnet1
EXT_NET_NAME=public1
EXT_NET_SUBNET=public1-subnet
EXT_NET_CIDR='10.0.2.0/24'
EXT_NET_RANGE='start=10.0.2.150,end=10.0.2.199'
EXT_NET_GATEWAY='10.0.2.1'

SSH_KEY_NAME=mykey
