{
    "command": "/usr/sbin/chronyd -d -f /etc/chrony/chrony.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/chrony.conf",
            "dest": "/etc/chrony/chrony.conf",
            "owner": "root",
            "perm": "0644"
        }
    ]
}
