{
    "command": "/opt/logstash/bin/logstash --log-in-json --log /var/log/kolla/logstash/monasca-log-transformer.log -f /etc/logstash/conf.d/log-transformer.conf",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/log-transformer.conf",
            "dest": "/etc/logstash/conf.d/log-transformer.conf",
            "owner": "logstash",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/logstash_patterns/*",
            "dest": "/etc/logstash/conf.d/patterns/",
            "owner": "logstash",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/logstash",
            "owner": "logstash:kolla",
            "recurse": true
        }
    ]
}
