{% set network = 'swift_replication' if 'replicat' in service_name else 'swift_storage' %}
[DEFAULT]
bind_ip = {{ network | kolla_address }}
bind_port = {{ swift_container_server_port }}
devices = {{ swift_devices_mount_point }}
mount_check = false
log_udp_host = {{ syslog_server }}
log_udp_port = {{ syslog_udp_port }}
log_name = {{ service_name }}
log_facility = {{ syslog_swift_facility }}
log_level = {{ swift_log_level }}
workers = {{ openstack_service_workers }}

[pipeline:main]
pipeline = {% if enable_swift_recon %}recon {% endif %}container-server

{% if enable_swift_recon %}
[filter:recon]
use = egg:swift#recon
recon_cache_path = /var/cache/swift
{% endif %}

[app:container-server]
use = egg:swift#container
allow_versions = True
{% if swift_has_replication_network %}
replication_server = {{ service_name == 'swift-container-replication-server' }}
{% endif %}

{% if service_name == 'swift-container-auditor' %}
[container-auditor]
{% endif %}

{% if service_name == 'swift-container-replicator' %}
[container-replicator]
rsync_module = {replication_ip}::container
{% endif %}

{% if service_name == 'swift-container-updater' %}
[container-updater]
{% endif %}
