[DEFAULT]
debug = {{ congress_logging_debug }}

log_dir = /var/log/kolla/congress

drivers = congress.datasources.neutronv2_driver.NeutronV2Driver,congress.datasources.glancev2_driver.GlanceV2Driver,congress.datasources.nova_driver.NovaDriver,congress.datasources.keystone_driver.KeystoneDriver,congress.datasources.ceilometer_driver.CeilometerDriver,congress.datasources.cinder_driver.CinderDriver,congress.datasources.swift_driver.SwiftDriver,congress.datasources.plexxi_driver.PlexxiDriver,congress.datasources.vCenter_driver.VCenterDriver,congress.datasources.murano_driver.MuranoDriver,congress.datasources.ironic_driver.IronicDriver

auth_strategy = keystone

os_region_name = {{ openstack_region_name }}

# NOTE: set use_stderr to False or the logs will also be sent to
# stderr and collected by Docker
use_stderr = False

my_ip = {{ api_interface_address }}

api_paste_config = /etc/congress/api-paste.ini

{% if service_name == 'congress-api' %}
bind_host = {{ api_interface_address }}
bind_port = {{ congress_api_port }}
{% endif %}

transport_url = {{ rpc_transport_url }}

[database]
connection = mysql+pymysql://{{ congress_database_user }}:{{ congress_database_password }}@{{ congress_database_address }}/{{ congress_database_name }}
max_retries = -1

[keystone_authtoken]
www_authenticate_uri = {{ keystone_internal_url }}
auth_url = {{ keystone_admin_url }}
auth_type = password
project_domain_id = {{ default_project_domain_id }}
user_domain_id = {{ default_user_domain_id }}
project_name = service
username = {{ congress_keystone_user }}
password = {{ congress_keystone_password }}

memcache_security_strategy = ENCRYPT
memcache_secret_key = {{ memcache_secret_key }}
memcached_servers = {% for host in groups['memcached'] %}{{ hostvars[host]['ansible_' + hostvars[host]['api_interface']]['ipv4']['address'] }}:{{ memcached_port }}{% if not loop.last %},{% endif %}{% endfor %}

[oslo_messaging_notifications]
transport_url = {{ notify_transport_url }}

{% if congress_policy_file is defined %}
[oslo_policy]
policy_file = {{ congress_policy_file }}
{% endif %}

[oslo_middleware]
enable_proxy_headers_parsing = True

[congress]
url = {{ internal_protocol }}://{{ kolla_internal_fqdn }}:{{ congress_api_port }}
