{
    "command": "monasca-collector foreground --config-file /etc/monasca/agent-collector.yml",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/agent-collector.yml",
            "dest": "/etc/monasca/agent-collector.yml",
            "owner": "monasca",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/plugins/*.yaml",
            "dest": "/etc/monasca/conf.d/",
            "owner": "monasca",
            "perm": "0600"
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/monasca",
            "owner": "monasca:kolla",
            "recurse": true
        }
    ]
}
