#jinja2: trim_blocks: False
[DEFAULT]
{% if enable_neutron_dvr | bool %}
{% if inventory_hostname in groups['network'] %}
agent_mode = dvr_snat
{% elif inventory_hostname in groups['external-compute'] %}
agent_mode = dvr
{% elif inventory_hostname in groups['inner-compute'] %}
agent_mode = dvr_no_external
{% endif %}
{% else %}
agent_mode = legacy
{% endif %}
{% if enable_neutron_agent_ha | bool %}
ha_vrrp_health_check_interval = 5
{% endif %}
[agent]
{% if neutron_l3_agent_extensions %}
extensions = "{{ neutron_l3_agent_extensions|map(attribute='name')|join(',') }}"
{% endif %}

[ovs]
ovsdb_interface = native
ovsdb_connection = tcp:127.0.0.1:{{ ovsdb_port }}
