{% if enable_neutron_bgpvpn | bool%}
[service_providers]
service_provider = BGPVPN:BaGPipe:networking_bgpvpn.neutron.services.service_drivers.bagpipe.bagpipe_v2.BaGPipeBGPVPNDriver:default
{% endif %}
