{
    "command": "/usr/sbin/haproxy -W -db -p /run/haproxy.pid -f /etc/neutron/neutron-tls-proxy.cfg",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/neutron-tls-proxy.cfg",
            "dest": "/etc/neutron/neutron-tls-proxy.cfg",
            "owner": "neutron",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/neutron-cert-and-key.pem",
            "dest": "/etc/neutron/certs/neutron-cert-and-key.pem",
            "owner": "neutron",
            "perm": "0600"
        }
    ]
}
