{
    "command": "uwsgi /etc/neutron/neutron-server-uwsgi.ini",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/neutron.conf",
            "dest": "/etc/neutron/neutron.conf",
            "owner": "neutron",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/neutron-server-uwsgi.ini",
            "dest": "/etc/neutron/neutron-server-uwsgi.ini",
            "owner": "neutron",
            "perm": "0600"
        },
{% if enable_neutron_fwaas | bool %}
        {
            "source": "{{ container_config_directory }}/fwaas_driver.ini",
            "dest": "/etc/neutron/fwaas_driver.ini",
            "owner": "neutron",
            "perm": "0600"
        },
{% endif %}
{% if enable_neutron_vpnaas | bool %}
        {
            "source": "{{ container_config_directory }}/neutron_vpnaas.conf",
            "dest": "/etc/neutron/neutron_vpnaas.conf",
            "owner": "neutron",
            "perm": "0600"
        },
{% endif %}
{% if enable_neutron_taas | bool %}
        {
            "source": "{{ container_config_directory }}/neutron_taas.conf",
            "dest": "/etc/neutron/neutron_taas.conf",
            "owner": "neutron",
            "perm": "0600"
        },
{% endif %}
{% if neutron_policy_file is defined %}
        {
            "source": "{{ container_config_directory }}/{{ neutron_policy_file }}",
            "dest": "/etc/neutron/{{ neutron_policy_file }}",
            "owner": "neutron",
            "perm": "0600"
        },
{% endif %}
{% if check_extra_ml2_plugins is defined and check_extra_ml2_plugins.matched > 0 %}{% for plugin in check_extra_ml2_plugins.files %}
        {
            "source": "{{ container_config_directory }}/{{ plugin.path | basename }}",
            "dest": "/etc/neutron/plugins/ml2/{{ plugin.path | basename }}",
            "owner": "neutron",
            "perm": "0600"
        },{% endfor %}{% endif %}
        {
            "source": "{{ container_config_directory }}/ml2_conf.ini",
            "dest": "/etc/neutron/plugins/ml2/ml2_conf.ini",
            "owner": "neutron",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/id_rsa",
            "dest": "/var/lib/neutron/.ssh/id_rsa",
            "owner": "neutron",
            "perm": "0600"
        }{% if neutron_copy_certs | bool %},
        {
            "source": "{{ container_config_directory }}/neutron-cert.pem",
            "dest": "/etc/neutron/certs/neutron-cert.pem",
            "owner": "neutron",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/neutron-key.pem",
            "dest": "/etc/neutron/certs/neutron-key.pem",
            "owner": "neutron",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        }
    ]
}
