{
    "command": "/usr/local/bin/neutron-l3-agent-wrapper.sh",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/neutron-l3-agent-wrapper.sh",
            "dest": "/usr/local/bin/neutron-l3-agent-wrapper.sh",
            "owner": "root",
            "perm": "0755"
        },
        {
            "source": "{{ container_config_directory }}/neutron.conf",
            "dest": "/etc/neutron/neutron.conf",
            "owner": "neutron",
            "perm": "0600"
        }{% if enable_neutron_vpnaas | bool %},
        {
            "source": "{{ container_config_directory }}/neutron_vpnaas.conf",
            "dest": "/etc/neutron/neutron_vpnaas.conf",
            "owner": "neutron",
            "perm": "0600"
        }{% endif %}{% if enable_neutron_fwaas | bool %},
        {
            "source": "{{ container_config_directory }}/fwaas_driver.ini",
            "dest": "/etc/neutron/fwaas_driver.ini",
            "owner": "neutron",
            "perm": "0600"
        }{% endif %},
        {
            "source": "{{ container_config_directory }}/l3_agent.ini",
            "dest": "/etc/neutron/l3_agent.ini",
            "owner": "neutron",
            "perm": "0600"
        }{% if neutron_policy_file is defined %},
        {
            "source": "{{ container_config_directory }}/{{ neutron_policy_file }}",
            "dest": "/etc/neutron/{{ neutron_policy_file }}",
            "owner": "neutron",
            "perm": "0600"
        }{% endif %}{% if kolla_copy_ca_into_containers | bool %},
        {
            "source": "{{ container_config_directory }}/ca-certificates",
            "dest": "/var/lib/kolla/share/ca-certificates",
            "owner": "root",
            "perm": "0600"
        }{% endif %}
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/neutron",
            "owner": "neutron:neutron",
            "recurse": true
        },
        {
            "path": "/var/lib/neutron/kolla",
            "owner": "neutron:neutron",
            "recurse": true
        }
    ]
}
