[nsxv]
user = {{ vmware_nsxv_user }}
password = {{ vmware_nsxv_password }}
manager_uri = {{ vmware_nsxv_manager_uri }}
insecure = {{ vmware_nsxv_insecure }}
cluster_moid = {{ vmware_nsxv_cluster_moid }}
datacenter_moid = {{ vmware_nsxv_datacenter_moid }}
resource_pool_id = {{ vmware_nsxv_resource_pool_id }}
datastore_id = {{ vmware_nsxv_datastore_id }}
external_network = {{ vmware_nsxv_external_network }}
vdn_scope_id = {{ vmware_nsxv_vdn_scope_id }}
dvs_id = {{ vmware_nsxv_dvs_id }}
backup_edge_pool = {{ vmware_nsxv_backup_edge_pool }}
spoofguard_enabled = {{ vmware_nsxv_spoofguard_enabled }}
metadata_initializer = {{ vmware_nsxv_metadata_initializer }}
edge_ha = {{ vmware_nsxv_edge_ha }}

