[RESTPROXY]
default_net_partition_name={{ nuage_net_partition }}
server={{ nuage_server_ip_port }}
serverauth={{ nuage_server_auth }}
organization={{ nuage_organization }}
auth_resource={{ nuage_auth_resource }}
serverssl= {{ nuage_serverssl }}
base_uri={{ nuage_base_uri }}
cms_id={{ nuage_cms_id }}
