{% if enable_neutron_qos | bool %}
[agent]
extensions = qos
{% endif %}

[sriov_nic]
# 'physical_device_mappings' is a comma separated list
# Maps a physical network to network interface used for SRIOV
# This template should be modified for specific environments
# See Official OpenStack SRIOV documentation for all available options
physical_device_mappings = {{ neutron_sriov_physnets }}
exclude_devices =

[securitygroup]
# Security groups are not supported when using SRIOV, so the firewall
# driver must be disabled.
firewall_driver = neutron.agent.firewall.NoopFirewallDriver
