reporting-disabled = true
[logging]
  level = "info"
  file = "/var/log/kolla/influxdb/influxdb.log"
[meta]
  dir = "/var/lib/influxdb/meta"
  retention-autocreate = true
  logging-enabled = true
[data]
  dir = "/var/lib/influxdb/data"
  wal-dir = "/var/lib/influxdb/wal"
  wal-logging-enabled = true
  data-logging-enabled = true
{% if influxdb_enable_tsi | bool %}
  index-version = "tsi1"
{% else %}
  index-version = "inmem"
{% endif %}
[coordinator]
  write-timeout = "10s"
  max-concurrent-queries = 0
  query-timeout = "0s"
  max-select-point = 0
  max-select-series = 0
  max-select-buckets = 0
[retention]
  enabled = true
  check-interval = "30m"
[shard-precreation]
  enabled = true
  check-interval = "10m"
  advance-period = "30m"
[monitor]
  store-enabled = true
  store-database = "_internal"
  store-interval = "10s"
[http]
  enabled = true
  bind-address = "{{ api_interface_address | put_address_in_context('url') }}:{{ influxdb_http_port }}"
  auth-enabled = false
  log-enabled = true
  write-tracing = false
  pprof-enabled = false
  https-enabled = false
[[graphite]]
  enabled = false
[[opentsdb]]
  enabled = false
[[udp]]
  enabled = false
[continuous_queries]
  log-enabled = true
  enabled = true
