{
    "command": "searchlight-api",
    "config_files": [
        {
            "source": "{{ container_config_directory }}/searchlight.conf",
            "dest": "/etc/searchlight/searchlight.conf",
            "owner": "searchlight",
            "perm": "0600"
        },
        {
            "source": "{{ container_config_directory }}/policy.json",
            "dest": "/etc/searchlight/policy.json",
            "owner": "searchlight",
            "perm": "0600",
            "optional": true
        }
    ],
    "permissions": [
        {
            "path": "/var/log/kolla/searchlight",
            "owner": "searchlight:searchlight",
            "recurse": true
        }
    ]
}
